<h2 mat-dialog-title>Actualizar Descripcion</h2>    
<mat-dialog-content class="example-container">
    <form class = "tareaForm" [formGroup] = "tareaForm">
        <mat-form-field>
            <input matInput placeholder="Descripcion" formControlName="desc_tarea" required #descripcion>
        </mat-form-field>
    </form>
</mat-dialog-content>        

<mat-dialog-actions>            
    <button mat-raised-button [disabled]="!tareaForm.valid" (click)= 'actualizarDescripcion()'>Actualizar</button>
    <button mat-raised-button (click)= 'close()'>Cancelar</button>
</mat-dialog-actions>