.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  mat-form-field {
    padding: 10px;
    width: 100%
  }

  .separador{
    padding-top: 250px
  }

  .centrar{
    margin:0 auto;
  }