<div>
    <h1 class="text-center">ATENCIÓN</h1>
</div>

<div class="filtro">
    <mat-form-field class="centrar">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
    </mat-form-field>
</div>
<div *ngIf="yaCargo()">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="TIPO_ATENCION">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element"> {{element.TIPO_ATENCION}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="CLIENTE">
            <th mat-header-cell *matHeaderCellDef> Cliente</th>
            <td mat-cell *matCellDef="let element"> {{element.CLIENTE}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="TITULO_ATENCION">
            <th mat-header-cell *matHeaderCellDef> Titulo</th>
            <td mat-cell *matCellDef="let element"> {{element.TITULO_ATENCION}}</td>
        </ng-container>

        <!-- Symbol Column
        <ng-container matColumnDef="DESCRIPCION_ATENCION">
            <th mat-header-cell *matHeaderCellDef> Descripcion</th>
            <td mat-cell *matCellDef="let element"> {{element.DESCRIPCION_ATENCION}} </td>
        </ng-container> -->

        <!-- Symbol Colum-->
        <ng-container matColumnDef="FECHA_ESPERADA">
            <th mat-header-cell *matHeaderCellDef> Fecha esperada</th>
            <td mat-cell *matCellDef="let element"> {{element.FECHA_ESPERADA}} </td>
        </ng-container>

        <ng-container matColumnDef="FECHA_ACORDADA">
            <th mat-header-cell *matHeaderCellDef> Fecha acordada</th>
            <td mat-cell *matCellDef="let element"> {{element.FECHA_ACORDADA}} </td>
        </ng-container>
        <ng-container matColumnDef="APLICACION">
            <th mat-header-cell *matHeaderCellDef> Aplicacion </th>
            <td mat-cell *matCellDef="let element"> {{element.APLICACION}} </td>
        </ng-container>
        <ng-container matColumnDef="ESTADO">
            <th mat-header-cell *matHeaderCellDef> Estado</th>
            <td mat-cell *matCellDef="let element"> {{element.ESTADO}} </td>
        </ng-container>

        <ng-container matColumnDef="OPCIONES">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let element">
                <app-dialogo-actualizar [data]=element></app-dialogo-actualizar>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


<div *ngIf="!yaCargo()">
    <mat-spinner class="centrar"></mat-spinner>
</div>

<div style="float: right">
    <app-dialogo-registrar-requisito></app-dialogo-registrar-requisito>
</div>