

<div class = "container">
  <!-- <h1 class="text-center">Líneas del proyecto</h1> -->
  <h2 mat-dialog-title style="text-align: center">Lineas proyecto {{data.ID_PROYECTO}}  </h2>
</div>

<div class="container">
<mat-dialog-content class="example-container">

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class = "estilo">
          
          <!-- Nombre de la linea -->
          <ng-container matColumnDef="NOMBRE_LINEA" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header > NOMBRE </th>
              <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.NOMBRE_LINEA}} </td>
          </ng-container>
          
          <!-- Valor de la hora-->
          <ng-container matColumnDef="VALOR_HORA" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header> VALOR DE LA HORA</th>
              <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.VALOR_HORA | currency:'COP':'symbol-narrow'}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>        
        
    </mat-dialog-content>
                                  
</div>
